<?xml version="1.0" ?>
<nlog>
    <variable name="telegramBotToken" value="BOT_TOKEN"/>
    <variable name="telegramChatId" value="BOT_CHAT"/>
    <variable name="seqHost" value="${environment:variable=SEQ_URI:whenEmpty=http\://localhost\:5341}"/>
    <variable name="seqApiKey" value="${environment:variable=SEQ_API_KEY}"/>
    <variable name="consoleUtc" value="false"/>
    <variable name="serviceName" value="${gdc:item=Service}"/>

    <include file="nlog.common.config"/>
</nlog>