<?xml version="1.0" ?>
<nlog>
    <variable name="telegramBotToken" value="BOT_TOKEN"/>
    <variable name="telegramChatId" value="BOT_CHAT"/>
    <variable name="seqHost" value="http://localhost:5341"/>
    <variable name="seqApiKey" value=""/>
    <variable name="consoleUtc" value="false"/>

    <include file="nlog.common.config"/>
</nlog>