<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Warn" internalLogFile="">
    <time type='AccurateUTC'/>
    <extensions>
        <add assembly="NLog.Targets.Seq"/>
        <add assembly="NLog.Web.AspNetCore"/>
        <add assembly="GameScribe.Shared"/>
    </extensions>

    <targets async="true">
        <target name="main" xsi:type="File"
                layout="${longdate} | ${callsite} | ${message} | ${exception:innerFormat=Message,StackTrace}"
                fileName="${basedir}/Logs/${level}/${shortdate}.log"
                encoding="UTF-8"/>
        <target name="all" xsi:type="File"
                layout="${level:uppercase=true:padding=-5} | ${longdate} | ${logger} | ${message} | ${exception:innerFormat=Message,StackTrace}"
                fileName="${basedir}/Logs/All/${shortdate}.log" encoding="UTF-8"/>
        <target name="console" xsi:type="ColoredConsole"
                layout="${level:uppercase=true:padding=-5} ${date:format=HH\:mm\:ss:universalTime=${consoleUtc}} | ${message} ${exception:innerFormat=Message,StackTrace}">
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray"/>
            <highlight-row condition="level == LogLevel.Info"/>
        </target>
        <target name="seq" xsi:type="BufferingWrapper" bufferSize="1000" flushTimeout="2000">
            <target xsi:type="Seq" serverUrl="${seqHost}" apiKey="${seqApiKey}" excludeProperties="ConnectionId,RequestId">
                <property name="MachineName" value="${machinename}"/>
                <property name="Service" value="${gdc:item=Service}"/>
                <property name="Source" value="${logger}"/>
                <property name="Endpoint" value="${aspnet-request-endpoint}"/>
                <property name="UserId" value="${aspnet-user-identity}"/>
                <property name="RequestMethod" value="${aspnet-request-method}"/>
                <property name="TraceId" value="${aspnet-traceidentifier}"/>
            </target>
        </target>
        <target xsi:type="Telegram"
                name="telegram"
                layout="[${gdc:item=Service}] ${message}"
                botToken="${telegramBotToken}"
                chatId="${telegramChatId}"/>
    </targets>

    <rules>
        <!--Supress this loggers up to maxLevel. Use ${logger} to detect logger name-->
        <logger name="Microsoft.AspNetCore.*" maxLevel="Debug" final="true"/>
        <logger name="Microsoft.EntityFrameworkCore.*" maxLevel="Info" final="true"/>
        <logger name="Microsoft.Extensions.Http.*" maxLevel="Info" final="true"/>
        <logger name="Microsoft.AspNetCore.Hosting.Diagnostics" maxLevel="Info" final="true"/>
        <logger name="Microsoft.AspNetCore.ResponseCaching.ResponseCachingMiddleware*" maxLevel="Info" final="true"/>
        <logger name="Microsoft.AspNetCore.Routing.EndpointMiddleware" maxLevel="Info" final="true"/>
        <logger name="Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionInvoker" maxLevel="Info" final="true"/>
        <logger name="Microsoft.AspNetCore.Mvc.Infrastructure.ObjectResultExecutor" maxLevel="Info" final="true"/>
        <logger name="Microsoft.AspNetCore.Cors.Infrastructure.CorsService" maxLevel="Info" final="true"/>
        <logger name="Microsoft.AspNetCore.HostFiltering.HostFilteringMiddleware" maxLevel="Info" final="true"/>
        <logger name="Microsoft.AspNetCore.OutputCaching.OutputCacheMiddleware" maxLevel="Info" final="true"/>

        <logger name="Quartz.Core.QuartzSchedulerThread" maxLevel="Debug" final="true"/>
        <logger name="Quartz.Core.QuartzScheduler" maxLevel="Info" final="true"/>
        <logger name="Quartz.ContainerConfigurationProcessor" maxLevel="Info" final="true"/>
        <logger name="Quartz.Impl.StdSchedulerFactory" maxLevel="Info" final="true"/>
        <logger name="Quartz.Simpl.RAMJobStore" maxLevel="Info" final="true"/>
        <logger name="Quartz.Core.SchedulerSignalerImpl" maxLevel="Info" final="true"/>
        <logger name="Quartz.Simpl.TaskSchedulingThreadPool" maxLevel="Info" final="true"/>

        <logger name="*" minlevel="Trace" writeTo="all"/>
        <logger name="*" minlevel="Warn" writeTo="main"/>
        <logger name="*" minlevel="Trace" writeTo="console"/>
        <logger name="*" minlevel="Trace" writeTo="seq"/>

        <logger name="*" minlevel="Fatal" writeTo="telegram"/>
    </rules>
</nlog>